html {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 200px;
    grid-template-areas: 
        'header header'
        'content content'
        'sidebar sidebar'
        'footer footer';
    grid-gap: 1px;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200 repeat(3, 1fr);
        grid-template-areas: 
            'sidebar sidebar header header'
            'sidebar sidebar content content'
            'sidebar sidebar content content'
            'sidebar sidebar footer footer';
        grid-gap: 1px;
    }

    .card-name {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    margin-top: -18px;
    text-align: center;
    transition: .5s ease;
    opacity: 0.5;
    background-color: black;
}
}

.header {
    grid-area: header;
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
    font-weight: bold;
    border: solid black;
    text-align: center;
    padding-top: 40px;
}

.subheader {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 8px;
    text-align: center;
    margin-top: -20px;
    padding-left: 1em;
}

.character-select {
    grid-area: content;
    display: flex;
    justify-content: center;
    border: solid black;
    flex-wrap: wrap;
}

.card {
    width:18%;
    min-width: 85px;
    padding: 5px;
    cursor: pointer;
}

.card:hover img {
    transform: scale(1.1);
    opacity: 1;
  }

.card:hover .card-name {
    transform: scale(1.2);
    opacity: 1;
}

.card-name {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    margin-top: -18px;
    text-align: center;
    transition: .5s ease;
    opacity: 0.5;
    background-color: black;
}


.footer {
    grid-area: footer;
    border: solid black;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    border: solid black;
    text-align: center;
}

img {
    width: 100%;
    opacity: 0.8;
    box-shadow: 3px 3px 10px 0px;
    transition: .5s ease;
}
